.homepage{
  width:100%;
  height:100vh;
  margin-top: 0px;
  position: relative;
  font-family: Lexend Deca;
  background-image:url('./assets/images/home.png');
  background-size:100% 100%;
}
.carpage{
  width:100%;
  height:100vh;
  margin-top: 0px;
  position: relative;
  font-family: Lexend Deca;
  background-image:url('./assets/images/modelS.png');
  background-size:100% 100%;
}

.orderpage{
  width:100%;
  
  min-height:100vh;
  margin-top: 0px;
  position: relative;
  font-family: Lexend Deca;
  background-color: white;
}

.order-page-content{
  width: 100%;
  min-height:100vh;
  padding-bottom: 50px;
  display:flex;
  position: relative;
}

.order-page-left{
  width:70%;
  position: relative;
}



.order-page-left img{
  width:100%;
  height:500px;
}
.order-page-right{
  width:30%;
  
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding-top: 30px;
}

.specifications{
  min-height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  background-color: black;
}

.specifications-left{
  width:50%;

}
.specifications-right{
  width:50%;
  color:white;
  align-items: center;
  justify-content: center;
  text-align: center;
  align-content: center;
  padding-top: 100px;
}

.specifications-right-content{
  width:60%;
  justify-content: center;
  margin-left: 20%;
  
  text-align: center;
  position: relative;
}

.specifications-right-content table{
  width:100%;
}
.specifications-right-content tr{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;

}
.specifications-right-content td{
  width: 50%;
  text-align: center;
}
.specifications-left img{
  width: 100%;
}

.specs-span{
  width:90%;
  margin-top:40px;
  margin-bottom: 20px;
}

.specs-span span{
  width:50%;
}


.logo-img{
  height:60px;
  width:150px;
  position: relative;
}

.btn-div{
  
  text-align: center;
  align-items: center;
}

.btn-div-btn{
  height: 40px;
  width:200px;
  background-color: #464646;
  color:white;
  padding: 5px;
  border-radius: 10px;
  border:0px;
}


.title{
  width:100%;
  margin-top: 0px;
  background-color:  white;
  position: relative;
  align-items: center;
  height: 150px;
  
  align-content: center;
  display: flex;
  justify-content: center;
}

.title-content{
  width: 90%;
  position: relative;
  height:80%;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: white;
}

.title-content h1{
   color:black;
   font-weight: 400;
   font-size: 2rem;
}

.car-main{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  
  
}
.car-column-card{
  width:90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.car-card{
  width: 24%;
  height:300px;
  border:1px solid black;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
}

.card-span-div1{
  width:100%;
  color:#787878;
  padding-left: 5px;
  position: relative;
}
.card-span-div{
  width:100%;
  color: black;
  padding-left: 5px;
  position: relative;
}
.card-span-div1 span{
  min-width:25%;
  float: left;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
}
.card-span-div span{
  min-width:25%;
  float: left;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
}

.car-card img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  position: relative;

}

.car-card-panel{
  padding: 5px;
  box-shadow: 0px 0px 18px -18px rgba(118,130,183,1)     ;
  border-radius: 10px;
}

@media (max-width:1000px) {
  .car-card{
      width:45%;
  }
}

.main-content-ordered{
  width: 40%;
}

.order-page-content{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}
@media (max-width:768px) {
  .order-page-content{
    display: block;
  }
  .order-page-left{
    width: 100%;
  }
  .order-page-right{
    width: 100%;
  }
  .title{
    height:100px;
  }

  .homepage{
    background-image:url('./assets/images/home_mobile.png');
  }
  .title-content h1{
    font-size: 3rem;
  }
  .car-card{
      width:100%;
      
  }
  .car-card img{
    height: 70%;
  }

  .specifications{
    display: block;
  }
  .specifications-left{
    width:100%;
    
  }
  .specifications-right{
    
    width:100%;
  
  }
}